 body {
     color: #757575;
     font-family: Arial;
     font-weight: 400;
     font-size: 15px;
     letter-spacing: 0px;
}
 .font-second, .product-box .box-action .price, .product-box .product-info .price, .entry-summary .erado-countdown > div span:first-child, .entry-summary .price, .modal_add_to_cart .product-info .price, .modal_add_to_cart p.total .woocommerce-Price-amount, .kc-countdown-timer .timer, .banner-box.banner4-5 .banner-text-4 p{
     font-family: Lato;
}
 .font-third, .addon-title p, .banner-box .banner-text-2 p, .banner-box.banner2-5 .banner-text-3 p, #newletter-box2 .kc-col-container .newletter-des p {
     font-family: Playfair Display;
     font-style: italic;
}
 body {
     color: #757575;
     font-family: Arial;
     font-weight: 400;
     font-size: 15px;
     letter-spacing: 0px;
}
 .color-body-color, body, .portfolio-filter > a, .product-box .product-info .product-cat a, .single-product-thumbnail .slick-prev:before, .single-product-thumbnail .slick-next:before, .fraction-slider .fs-pager-wrapper a.active, .fraction-slider .fs-pager-wrapper a:hover, .fraction-slider .fs-custom-pager-wrapper a.active, .fraction-slider .fs-custom-pager-wrapper a:hover{
     color: #757575;
}
 .color-primary-color, a:hover, a:focus, a:active, .header-action .icon-menu:hover:before, #header-cart .shopbag:hover:before, .top-header a:hover, .top-header a:focus, .top-header.light a:hover, .top-header .dropdown-menu ul li a:hover, .header-3 .main-navigation .push-menu-btn:hover span, #header-wrapper.header-7 .header-action .header-block ul li a:hover, #header-wrapper.header-8 .header-action .header-block ul li a:hover, .menu-toggle .icon-menu:hover:before, .primary-menu > li.current_page_item > a, .primary-menu > li:hover > a, .primary-menu .dropdown-menu .column-heading:hover, .primary-menu li a:hover, .primary-menu li.current-menu-ancestor > a, .primary-menu li.current-menu-item > a, .vertical-menu .dropdown-menu .column-heading:hover, .vertical-menu li a:hover, #footer-wrapper .info-contact .address-info:before, #footer-wrapper .info-contact .phone-info:before, #footer-wrapper .info-contact .email-info:before, #footer-wrapper a:hover, #footer-wrapper p a, #footer-wrapper .footer-bottom .copyright a, .post-title a:hover, .post-meta > span a:hover, .read-more-section a:hover, #main-sidebar .widget ul li a:hover, .single-post .entry-content p a, .portfolio-content .portfolio-category a:hover, .single-portfolio .portfolio-meta a:hover, .related-portfolio .portfolio-info span > a:hover, .widget a:hover, .widget_ranged_price_filter .ranged-price-filter li.current, .widget_order_by_filter .order-by-filter li.current, .icon-search:hover:before, .woocommerce .widget_layered_nav .yith-wcan-list ul li.chosen a, .fl-shop-categories li.current-cat a, .fl-shop-categories li:hover a, .product-box .quick-view-list span, .product-box .btn-quickview-box span, .product-box .box-action .button:hover, .product-box .box-action .not-found .entry-content button:hover[type="submit"], .not-found .entry-content .product-box .box-action button:hover[type="submit"], .product-box .box-action .banner-box .content-button a:hover, .banner-box .content-button .product-box .box-action a:hover, .product-box .box-action .fraction-slider .fs_obj a.button-slider:hover, .fraction-slider .fs_obj .product-box .box-action a.button-slider:hover, .product-box .box-action #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input:hover[type="submit"], #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .product-box .box-action input:hover[type="submit"], .product-box .box-action #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input:hover[type="submit"], #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .product-box .box-action input:hover[type="submit"], .product-box .box-action .kc_button.button_boxtext:hover, .product-box .box-action .box-coundown-parent .kc_button:hover, .box-coundown-parent .product-box .box-action .kc_button:hover, .product-box .box-action .box-coundown-parent2 .kc_button:hover, .box-coundown-parent2 .product-box .box-action .kc_button:hover, .product-box .box-action .box-coundown-parent3 .kc_button:hover, .box-coundown-parent3 .product-box .box-action .kc_button:hover, .product-box .box-action .compare-button a:hover:before, .product-box .box-action .yith-wcwl-add-to-wishlist a:hover:before, .product-box .box-action .yith-wcwl-wishlistaddedbrowse a:before, .product-box .box-action .yith-wcwl-wishlistexistsbrowse a:before, .product-box .box-action .yith-wcwl-wishlistaddedbrowse a span, .product-box .box-action .yith-wcwl-wishlistexistsbrowse a span, .product-box .style-2 .box-action-thumb li a:hover:before, .product-box .style-2 .box-action-thumb.yith-wcwl-wishlistaddedbrowse a:before, .product-box .style-2 .box-action-thumb.yith-wcwl-wishlistexistsbrowse a:before, .product-box .style-2 .box-action-thumb.yith-wcwl-wishlistaddedbrowse a span, .product-box .style-2 .box-action-thumb.yith-wcwl-wishlistexistsbrowse a span, .product-box .style-3 .box-action-thumb3 li a:hover:before, .product-box .style-4 .wishlist-style4 .yith-wcwl-add-to-wishlist a:hover:before, .product-box .style-4 .wishlist-style4 .yith-wcwl-wishlistaddedbrowse a:before, .product-box .style-4 .wishlist-style4 .yith-wcwl-wishlistexistsbrowse a:before, .product-box .style-4 .wishlist-style4 .yith-wcwl-wishlistaddedbrowse a span, .product-box .style-4 .wishlist-style4 .yith-wcwl-wishlistexistsbrowse a span, .product-box .style-4 .box-action-thumb4 .button:hover, .product-box .style-4 .box-action-thumb4 .not-found .entry-content button:hover[type="submit"], .not-found .entry-content .product-box .style-4 .box-action-thumb4 button:hover[type="submit"], .product-box .style-4 .box-action-thumb4 .banner-box .content-button a:hover, .banner-box .content-button .product-box .style-4 .box-action-thumb4 a:hover, .product-box .style-4 .box-action-thumb4 .fraction-slider .fs_obj a.button-slider:hover, .fraction-slider .fs_obj .product-box .style-4 .box-action-thumb4 a.button-slider:hover, .product-box .style-4 .box-action-thumb4 #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input:hover[type="submit"], #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .product-box .style-4 .box-action-thumb4 input:hover[type="submit"], .product-box .style-4 .box-action-thumb4 #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input:hover[type="submit"], #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .product-box .style-4 .box-action-thumb4 input:hover[type="submit"], .product-box .style-4 .box-action-thumb4 .kc_button.button_boxtext:hover, .product-box .style-4 .box-action-thumb4 .box-coundown-parent .kc_button:hover, .box-coundown-parent .product-box .style-4 .box-action-thumb4 .kc_button:hover, .product-box .style-4 .box-action-thumb4 .box-coundown-parent2 .kc_button:hover, .box-coundown-parent2 .product-box .style-4 .box-action-thumb4 .kc_button:hover, .product-box .style-4 .box-action-thumb4 .box-coundown-parent3 .kc_button:hover, .box-coundown-parent3 .product-box .style-4 .box-action-thumb4 .kc_button:hover, .product-box .style-5 .box-action-thumb5 li a:hover:before, .product-box .style-5 .button:hover, .product-box .style-5 .not-found .entry-content button:hover[type="submit"], .not-found .entry-content .product-box .style-5 button:hover[type="submit"], .product-box .style-5 .banner-box .content-button a:hover, .banner-box .content-button .product-box .style-5 a:hover, .product-box .style-5 .fraction-slider .fs_obj a.button-slider:hover, .fraction-slider .fs_obj .product-box .style-5 a.button-slider:hover, .product-box .style-5 #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input:hover[type="submit"], #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .product-box .style-5 input:hover[type="submit"], .product-box .style-5 #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input:hover[type="submit"], #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .product-box .style-5 input:hover[type="submit"], .product-box .style-5 .kc_button.button_boxtext:hover, .product-box .style-5 .box-coundown-parent .kc_button:hover, .box-coundown-parent .product-box .style-5 .kc_button:hover, .product-box .style-5 .box-coundown-parent2 .kc_button:hover, .box-coundown-parent2 .product-box .style-5 .kc_button:hover, .product-box .style-5 .box-coundown-parent3 .kc_button:hover, .box-coundown-parent3 .product-box .style-5 .kc_button:hover, .product-box .product-info .product-cat a:hover, .product-box .product-info .price, .erado-list .product-box .yith-wcwl-wishlistaddedbrowse a:before, .erado-list .product-box .yith-wcwl-wishlistexistsbrowse a:before, .erado-list .product-extra .yith-wcwl-add-to-wishlist a:hover, .erado-list .product-extra .yith-wcwl-add-to-wishlist a:hover:before, .erado-list .product-extra .compare.button:hover, .erado-list .product-extra .not-found .entry-content button.compare:hover[type="submit"], .not-found .entry-content .erado-list .product-extra button.compare:hover[type="submit"], .erado-list .product-extra .banner-box .content-button a.compare:hover, .banner-box .content-button .erado-list .product-extra a.compare:hover, .erado-list .product-extra .fraction-slider .fs_obj a.compare.button-slider:hover, .fraction-slider .fs_obj .erado-list .product-extra a.compare.button-slider:hover, .erado-list .product-extra #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare:hover[type="submit"], #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .erado-list .product-extra input.compare:hover[type="submit"], .erado-list .product-extra #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare:hover[type="submit"], #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .erado-list .product-extra input.compare:hover[type="submit"], .erado-list .product-extra .compare.kc_button.button_boxtext:hover, .erado-list .product-extra .box-coundown-parent .compare.kc_button:hover, .box-coundown-parent .erado-list .product-extra .compare.kc_button:hover, .erado-list .product-extra .box-coundown-parent2 .compare.kc_button:hover, .box-coundown-parent2 .erado-list .product-extra .compare.kc_button:hover, .erado-list .product-extra .box-coundown-parent3 .compare.kc_button:hover, .box-coundown-parent3 .erado-list .product-extra .compare.kc_button:hover, .erado-list .product-extra .compare.button:hover:before, .erado-list .product-extra .not-found .entry-content button.compare[type="submit"]:hover:before, .not-found .entry-content .erado-list .product-extra button.compare[type="submit"]:hover:before, .erado-list .product-extra .banner-box .content-button a.compare:hover:before, .banner-box .content-button .erado-list .product-extra a.compare:hover:before, .erado-list .product-extra .fraction-slider .fs_obj a.compare.button-slider:hover:before, .fraction-slider .fs_obj .erado-list .product-extra a.compare.button-slider:hover:before, .erado-list .product-extra #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare[type="submit"]:hover:before, #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .erado-list .product-extra input.compare[type="submit"]:hover:before, .erado-list .product-extra #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare[type="submit"]:hover:before, #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .erado-list .product-extra input.compare[type="submit"]:hover:before, .erado-list .product-extra .compare.kc_button.button_boxtext:hover:before, .erado-list .product-extra .box-coundown-parent .compare.kc_button:hover:before, .box-coundown-parent .erado-list .product-extra .compare.kc_button:hover:before, .erado-list .product-extra .box-coundown-parent2 .compare.kc_button:hover:before, .box-coundown-parent2 .erado-list .product-extra .compare.kc_button:hover:before, .erado-list .product-extra .box-coundown-parent3 .compare.kc_button:hover:before, .box-coundown-parent3 .erado-list .product-extra .compare.kc_button:hover:before, .erado-list .product-extra .compare.button.added, .erado-list .product-extra .not-found .entry-content button.compare.added[type="submit"], .not-found .entry-content .erado-list .product-extra button.compare.added[type="submit"], .erado-list .product-extra .banner-box .content-button a.compare.added, .banner-box .content-button .erado-list .product-extra a.compare.added, .erado-list .product-extra .fraction-slider .fs_obj a.compare.added.button-slider, .fraction-slider .fs_obj .erado-list .product-extra a.compare.added.button-slider, .erado-list .product-extra #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare.added[type="submit"], #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .erado-list .product-extra input.compare.added[type="submit"], .erado-list .product-extra #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare.added[type="submit"], #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .erado-list .product-extra input.compare.added[type="submit"], .erado-list .product-extra .compare.added.kc_button.button_boxtext, .erado-list .product-extra .box-coundown-parent .compare.added.kc_button, .box-coundown-parent .erado-list .product-extra .compare.added.kc_button, .erado-list .product-extra .box-coundown-parent2 .compare.added.kc_button, .box-coundown-parent2 .erado-list .product-extra .compare.added.kc_button, .erado-list .product-extra .box-coundown-parent3 .compare.added.kc_button, .box-coundown-parent3 .erado-list .product-extra .compare.added.kc_button, .woocommerce-product-rating .woocommerce-review-link:hover, .entry-summary .price, .entry-summary .compare.button:hover, .entry-summary .not-found .entry-content button.compare:hover[type="submit"], .not-found .entry-content .entry-summary button.compare:hover[type="submit"], .entry-summary .banner-box .content-button a.compare:hover, .banner-box .content-button .entry-summary a.compare:hover, .entry-summary .fraction-slider .fs_obj a.compare.button-slider:hover, .fraction-slider .fs_obj .entry-summary a.compare.button-slider:hover, .entry-summary #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare:hover[type="submit"], #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .entry-summary input.compare:hover[type="submit"], .entry-summary #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare:hover[type="submit"], #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .entry-summary input.compare:hover[type="submit"], .entry-summary .compare.kc_button.button_boxtext:hover, .entry-summary .box-coundown-parent .compare.kc_button:hover, .box-coundown-parent .entry-summary .compare.kc_button:hover, .entry-summary .box-coundown-parent2 .compare.kc_button:hover, .box-coundown-parent2 .entry-summary .compare.kc_button:hover, .entry-summary .box-coundown-parent3 .compare.kc_button:hover, .box-coundown-parent3 .entry-summary .compare.kc_button:hover, .entry-summary .compare.button:hover:before, .entry-summary .not-found .entry-content button.compare[type="submit"]:hover:before, .not-found .entry-content .entry-summary button.compare[type="submit"]:hover:before, .entry-summary .banner-box .content-button a.compare:hover:before, .banner-box .content-button .entry-summary a.compare:hover:before, .entry-summary .fraction-slider .fs_obj a.compare.button-slider:hover:before, .fraction-slider .fs_obj .entry-summary a.compare.button-slider:hover:before, .entry-summary #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare[type="submit"]:hover:before, #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .entry-summary input.compare[type="submit"]:hover:before, .entry-summary #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare[type="submit"]:hover:before, #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .entry-summary input.compare[type="submit"]:hover:before, .entry-summary .compare.kc_button.button_boxtext:hover:before, .entry-summary .box-coundown-parent .compare.kc_button:hover:before, .box-coundown-parent .entry-summary .compare.kc_button:hover:before, .entry-summary .box-coundown-parent2 .compare.kc_button:hover:before, .box-coundown-parent2 .entry-summary .compare.kc_button:hover:before, .entry-summary .box-coundown-parent3 .compare.kc_button:hover:before, .box-coundown-parent3 .entry-summary .compare.kc_button:hover:before, .entry-summary .compare.button.added, .entry-summary .not-found .entry-content button.compare.added[type="submit"], .not-found .entry-content .entry-summary button.compare.added[type="submit"], .entry-summary .banner-box .content-button a.compare.added, .banner-box .content-button .entry-summary a.compare.added, .entry-summary .fraction-slider .fs_obj a.compare.added.button-slider, .fraction-slider .fs_obj .entry-summary a.compare.added.button-slider, .entry-summary #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare.added[type="submit"], #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .entry-summary input.compare.added[type="submit"], .entry-summary #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input.compare.added[type="submit"], #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields .entry-summary input.compare.added[type="submit"], .entry-summary .compare.added.kc_button.button_boxtext, .entry-summary .box-coundown-parent .compare.added.kc_button, .box-coundown-parent .entry-summary .compare.added.kc_button, .entry-summary .box-coundown-parent2 .compare.added.kc_button, .box-coundown-parent2 .entry-summary .compare.added.kc_button, .entry-summary .box-coundown-parent3 .compare.added.kc_button, .box-coundown-parent3 .entry-summary .compare.added.kc_button, .entry-summary .yith-wcwl-add-to-wishlist a:hover, .entry-summary .yith-wcwl-add-to-wishlist a:hover:before, .product_meta a:hover, .woocommerce-tabs .wc-tabs > li.active > a, .title_style_1:before, .banner-box.banner2-5 .banner-text-2 p strong, .banner-box.banner4-1 strong, .banner-box.banner4-2 strong, .banner-box.banner4-4 .banner-text-3 p, .banner-box.banner4-3 .banner-text-3 p, .banner-box.banner4-5 .banner-text-4 p, #jmsblog-box .post-meta li a:hover, #jmsblog-box.template-2 .read-more a:hover, .tab-product.nav-tabs > li:hover > a, .tab-product.nav-tabs > li.active > a, .category-tab li.current-cat a, .kc_tabs_custom.kc_tabs .kc_wrapper .kc_tabs_nav > li:hover, .kc_tabs_custom.kc_tabs .kc_wrapper .kc_tabs_nav > li:hover a, .kc_tabs_custom.kc_tabs .kc_wrapper .kc_tabs_nav > li.ui-tabs-active, .kc_tabs_custom.kc_tabs .kc_wrapper .kc_tabs_nav > li.ui-tabs-active:hover, .kc_tabs_custom.kc_tabs .kc_wrapper .kc_tabs_nav > li.ui-tabs-active > a, .kc_tabs_custom.kc_tabs .kc_wrapper .kc_tabs_nav > li.ui-tabs-active > a:hover, .kc_tabs_custom.kc_tabs .kc_tab.ui-tabs-body-active .kc_tab_content .kc-col-inner-container h5, .breadcrumb a:hover, .woocommerce-breadcrumb a:hover {
     color: #fe4f18;
}
 .background-primary-color, .button, .kc_tabs_custom.kc_tabs .kc_tab.ui-tabs-body-active .kc_tab_content .kc-col-inner-container a.kc_button, #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"], #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"], body .kc_button, input[type="button"], input[type="reset"], input[type="submit"], .btn-transparent:hover, .btn-transparent:focus, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, #header-cart .cart-count, .post-category a:hover, .page-links a:hover, .page-links > span:not(.page-links-title), .pagination-block .page-numbers li span:hover, .pagination-block .page-numbers li a:hover, .pagination-block .page-numbers li .current, .tagcloud a:hover, .tagcloud a:focus, .widget_price_filter .ui-slider .ui-slider-range, .widget_shopping_cart_content .buttons a:hover, .woocommerce .widget_layered_nav ul.yith-wcan-label li a:hover, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover, .woocommerce .widget_layered_nav ul.yith-wcan-label li a:focus, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:focus, .woocommerce .widget_layered_nav ul.yith-wcan-label li.chosen a, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a, .wc-notice-cart .icon-notice, .shop-filter .filter-title, .badge, .product-box .btn-quickview-box span:hover, .product-box .box-action .add-to-cart a, nav.woocommerce-pagination ul li a:focus, nav.woocommerce-pagination ul li a:hover, nav.woocommerce-pagination ul li span.current, .wc-single-video a:hover, .woocommerce-tabs .wc-tabs > li.active:after, .cartSidebarWrap.toggleBottom .cart-sidebar-header-bottom, .cartSidebarWrap .cart-sidebar-header .cartContentsCount, .title_style_1:after, .banner-box .content-button a, .banner-position .banner-box-translate .banner-box .content .content-button a, #jmstestimonial-box.template-2 .owl-theme .owl-dots .owl-dot.active span, .fraction-slider .fs_obj a, .fraction-slider .fs-pager-wrapper a:before, .fraction-slider .fs-custom-pager-wrapper a:before, .newsletter-box1 .newsletter-form button:hover, .box-coundown-parent3 .box-coundown .box-coundown-content .title2_coundown:before, .jmsfeatured_category .item.style-2:hover .category-info, .spinner1 .bounce1, .spinner1 .bounce2 {
     background-color: #fe4f18;
}
 .border-primary-color, input[type="text"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus, .btn-transparent:hover, .btn-transparent:focus, .post-category a:hover, .page-links a:hover, .page-links > span:not(.page-links-title), .tagcloud a:hover, .tagcloud a:focus, .woocommerce .widget_layered_nav ul.yith-wcan-label li a:hover, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover, .woocommerce .widget_layered_nav ul.yith-wcan-label li a:focus, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:focus, .woocommerce .widget_layered_nav ul.yith-wcan-label li.chosen a, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a, .wc-notice-cart .text-notice a, .fraction-slider .fs-pager-wrapper a.active, .fraction-slider .fs-pager-wrapper a:hover, .fraction-slider .fs-custom-pager-wrapper a.active, .fraction-slider .fs-custom-pager-wrapper a:hover, .loadmore-button a {
     border-color: #fe4f18;
}
 .erado-list .product-extra .add-to-cart a:hover, .button:hover, .banner-box .content-button a:hover, .banner-position .banner-box-translate .banner-box .content .content-button a:hover, .fraction-slider .fs_obj a.button-slider:hover, #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:hover, #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:hover, .kc_button.button_boxtext:hover, .box-coundown-parent .kc_button:hover, .box-coundown-parent2 .kc_button:hover, .box-coundown-parent3 .kc_button:hover, .button:focus, .banner-box .content-button a:focus, .banner-position .banner-box-translate .banner-box .content .content-button a:focus, .fraction-slider .fs_obj a.button-slider:focus, #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:focus, #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"]:focus, .kc_button.button_boxtext:focus, .box-coundown-parent .kc_button:focus, .box-coundown-parent2 .kc_button:focus, .box-coundown-parent3 .kc_button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus{
     background: #d83401;
}
 .boder-color-darken, .button, .banner-box .content-button a, .banner-position .banner-box-translate .banner-box .content .content-button a, .fraction-slider .fs_obj a.button-slider, #footer-wrapper .newletter-footer-top .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"], #footer-wrapper .newletter-footer .widget_mc4wp_form_widget .mc4wp-form .mc4wp-form-fields input[type="submit"], .kc_button.button_boxtext, .box-coundown-parent .kc_button, .box-coundown-parent2 .kc_button, .box-coundown-parent3 .kc_button, input[type="button"], input[type="reset"], input[type="submit"], .product-box .box-action .add-to-cart a, .product-box .style-5 .add-to-cart a{
     border-color: #d83401;
}
 .primary-menu > li > a, .vertical-menu > li > a {
     font-family: Arial;
     font-weight: 600;
     font-size: 16px;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: Arial;
}
 h1, h2, h3, h4, h5, h6 {
     font-weight: 600;
}
 h1, h2, h3, h4, h5, h6 {
     color: #111111;
}
 h1 {
     font-size:36px;
}
 h2 {
     font-size:30px;
}
 h3 {
     font-size:24px;
}
 h4 {
     font-size:21px;
}
 h5 {
     font-size:18px;
}
 h6 {
     font-size:16px;
}
 .border-topbar-color, .top-header, .topheader-left .header-block, .topheader-right .header-block{
     border-color: #DADADA;
}
 #header-wrapper .main-header {
     background-color: #ffffff;
}
 #header-wrapper .main-header {
     border-color: #f5f5f5;
}
 #header-wrapper, #header-wrapper .primary-menu > li > a, .header-5 .vertical-menu > li > a {
     color: #000000;
}
 #footer-wrapper .container .footer-bottom, #footer-wrapper .container-fluid .footer-bottom {
     border-color: #e9edf0;
}
 #footer-wrapper .footer-top .widget .widget-title h3, #footer-wrapper .newletter-footer .title-newletter{
     color: #111111;
}
 #footer-wrapper, #footer-wrapper a {
     color: #888888;
}

.contact-ct label {
  width: 100%;
}
body.kc-css-system .kc-css-968205 .kc_button {
  background-color: #fe4f18;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #fe4f18;
  border-radius: 30px 30px 30px 30px;
  padding: 8px 30px 8px 30px;
}
.social-ct {
  padding: 0;
  margin-top: 10px;
}
.social-ct li {
  display: inline-block;
  margin: 5px;
}
.social-ct li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #cccccc;
  display: block;
  border-radius: 50%;
}
@media (min-width: 768px) {
  #main-content {
    padding: 0;
  }
}
