@media only screen and (min-width: 1000px) and (max-width: 5000px) {
    body.kc-css-system .kc-css-630117 {
        width: 100%;
    }
    body.kc-css-system .kc-css-26906 {
        width: 33.33%;
    }
    body.kc-css-system .kc-css-487005 {
        width: 33.33%;
    }
    body.kc-css-system .kc-css-439358 {
        width: 33.33%;
    }
    body.kc-css-system .kc-css-643423 {
        width: 100%;
    }
    body.kc-css-system .kc-css-65763 {
        width: 50%;
    }
    body.kc-css-system .kc-css-682027 {
        width: 50%;
    }
    body.kc-css-system .kc-css-399990 {
        width: 33.33%;
    }
    body.kc-css-system .kc-css-717737 {
        width: 33.33%;
    }
    body.kc-css-system .kc-css-197754 {
        width: 33.33%;
    }
}
.kc-css-608181 .kc_column {
    padding-left: 0px;
    padding-right: 0px;
}
.kc-css-608181 > .kc-wrap-columns {
    margin-left: -0px;
    margin-right: -0px;
    width: calc(100% + 0px);
}
.kc-css-641475 .kc_column {
    padding-left: 0px;
    padding-right: 0px;
}
.kc-css-641475 > .kc-wrap-columns {
    margin-left: -0px;
    margin-right: -0px;
    width: calc(100% + 0px);
}
body.kc-css-system .kc-css-26906 {
    padding-right: 10px;
    padding-left: 10px;
}
body.kc-css-system .kc-css-271789 .content-title {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}
body.kc-css-system .kc-css-271789 .content-desc {
    color: #000000;
    font-weight: 300;
    margin-bottom: 0px;
}
body.kc-css-system .kc-css-271789 .content-icon i {
    color: #5d5d5d;
    font-size: 60px;
    border-radius: 50% 50% 50% 50%;
}
body.kc-css-system .kc-css-271789 .content-image {
    width: 22%;
}
body.kc-css-system .kc-css-271789 .content-image img {
    margin-top: 10px;
}
body.kc-css-system .kc-css-271789 {
    background: #f3f5f7;
    padding: 40px 40px 40px 40px;
}
body.kc-css-system .kc-css-487005 {
    padding-right: 10px;
    padding-left: 10px;
}
body.kc-css-system .kc-css-588931 .content-title {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}
body.kc-css-system .kc-css-588931 .content-desc {
    color: #000000;
    font-weight: 300;
    margin-bottom: 0px;
}
body.kc-css-system .kc-css-588931 .content-icon i {
    color: #5d5d5d;
    font-size: 60px;
    border-radius: 50% 50% 50% 50%;
}
body.kc-css-system .kc-css-588931 .content-image {
    width: 22%;
}
body.kc-css-system .kc-css-588931 .content-image img {
    margin-top: 5px;
}
body.kc-css-system .kc-css-588931 {
    background: #f3f5f7;
    padding: 40px 40px 40px 40px;
}
body.kc-css-system .kc-css-439358 {
    padding-right: 10px;
    padding-left: 10px;
}
body.kc-css-system .kc-css-797632 .content-title {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}
body.kc-css-system .kc-css-797632 .content-desc {
    color: #000000;
    font-weight: 300;
    margin-bottom: 0px;
}
body.kc-css-system .kc-css-797632 .content-icon i {
    color: #5d5d5d;
    font-size: 60px;
    border-radius: 50% 50% 50% 50%;
}
body.kc-css-system .kc-css-797632 .content-image {
    width: 22%;
}
body.kc-css-system .kc-css-797632 .content-image img {
    margin-top: 7px;
}
body.kc-css-system .kc-css-797632 {
    background: #f3f5f7;
    padding: 40px 40px 40px 40px;
}
body.kc-css-system .kc-css-932238 {
    margin-bottom: 20px;
}
body.kc-css-system .kc-css-861768 {
    margin-bottom: 20px;
}
body.kc-css-system .kc-css-65763 {
    margin-bottom: 40px;
    padding-right: 10px;
}
body.kc-css-system .kc-css-676366 .banner-text-1 p {
    color: #696969;
    font-size: 14px;
    margin-bottom: 0px;
}
body.kc-css-system .kc-css-676366 .banner-text-2 p {
    color: #0e0e0e;
    font-size: 16px;
    font-weight: 600;
}
body.kc-css-system .kc-css-682027 {
    margin-bottom: 40px;
    padding-left: 10px;
}
body.kc-css-system .kc-css-319129 .banner-text-1 p {
    color: #696969;
    font-size: 14px;
    margin-bottom: 0px;
}
body.kc-css-system .kc-css-319129 .banner-text-2 p {
    color: #0e0e0e;
    font-size: 16px;
    font-weight: 600;
}
body.kc-css-system .kc-css-512235 {
    margin-bottom: 20px;
}
body.kc-css-system .kc-css-32123 {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid #e9edf0;
    border-bottom: 2px solid #e9edf0;
}
@media only screen and (max-width: 767px) {
    body.kc-css-system .kc-css-26906 {
        margin-bottom: 30px;
    }
    body.kc-css-system .kc-css-487005 {
        margin-bottom: 30px;
    }
    body.kc-css-system .kc-css-643423 {
        margin-bottom: 30px;
    }
    body.kc-css-system .kc-css-676366 {
        margin-bottom: 30px;
    }
    body.kc-css-system .kc-css-319129 {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 479px) {
    body.kc-css-system .kc-css-271789 {
        padding: 20px 0px 20px 0px;
    }
    body.kc-css-system .kc-css-588931 {
        padding: 20px 0px 20px 0px;
    }
    body.kc-css-system .kc-css-797632 {
        padding: 20px 0px 20px 0px;
    }
}
